<%- include ('partials/header.ejs'); %>

<div class="ui main text container segment">
    <div class="ui huge header">Login</div>
    <form class="ui form" action="/login" method="POST">
        <div class="field">
            <label for="">Email</label>
            <input type="text" name="email" placeholder="" maxlength="100">
        </div>
        <div class="field">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="" maxlength="100">
        </div>
        <input class="ui violet big basic button" type="submit" value="Login"><hr>
        <span style="justify-content: center;">
            <a href="/register/new" class="ui green large basic button" style="text-align: center;">Register</a>
        </span>
    </form>
</div>

<%- include ('partials/footer.ejs'); %>